.home {
  background-image: url(../../assets/home/background-home-desktop.jpg);
  background-size: cover;
  min-height: 100vh;
}

.main-home.flex {
  margin-top: 7rem;
  align-items: end;
  align-content: center;
  justify-content: space-between;
}

.hero-text {
  flex-basis: 40%;
}

.main-btn {
  font-family: 'Bellefair', sans-serif;
  text-transform: uppercase;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-size: 1.8rem;
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-btn:hover {
  outline: 2rem solid #979797;
}

@media screen and (max-width: 768px) {
  .home {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
  .main-home.flex {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .home {
    background-image: url(../../assets/home/background-home-mobile.jpg);
  }
  .main-home.flex {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
}