.logo {
  margin: 3rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
  display: flex;
  gap: 2rem;
  justify-content: end;
  list-style-type: none;
  padding: 2rem 9rem;
}
.nav-link > a:hover{
  padding-bottom: 2rem;
  border-bottom: 3px solid #979797;
}

.nav-num {
  font-weight: bold;
  padding-right: 0.7rem;
}

.active {
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--secondary-clr);
}

.hamburger-icon, .close-icon {
  color: var(--secondary-clr);
}

.hamburger-btn {
  color: var(--secondary-clr);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
  background-color: transparent;
  font-size: 2.5rem;
  padding-right: 2rem;
  color: var(--secondary-clr);
}

@media screen and (max-width: 820px) {
  .nav-num {
    display: none;
  }
  nav > ul {
      padding: 2rem;
    }
}
@media screen and (max-width: 450px) {
  .logo {
    margin: 2rem;
  }
  .hamburger-btn {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 0;
    z-index: 10;
  }
  nav > ul {
    display: none;
  }
  .nav-links.expanded {
    display: block;
    background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    padding-top: 5rem;
    margin: 0;
  }
  .nav-num {
    display: inline-block;
  }
  .active {
    padding-bottom: 0;
    border-bottom: none;
  }
  .nav-link {
    padding-bottom: 2rem;
  }
}